/* ------------------------------------------------------ */
/* Import Tailwind                                        */
/* ------------------------------------------------------ */
@import "tailwindcss";


/* ------------------------------------------------------ */
/* Custom Utilities                                       */
/* ------------------------------------------------------ */
@layer utilities {
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(0.25rem);
            /* 4px */
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-in {
        animation: fade-in 0.2s ease-out;
    }
}


/* ------------------------------------------------------ */
/* Scrollbar                                              */
/* ------------------------------------------------------ */
* {
    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* ------------------------------------------------------ */
/* Markdown                                               */
/* ------------------------------------------------------ */
.wmde-markdown ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.wmde-markdown ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.wmde-markdown li {
    margin-bottom: 0.25rem;
}

.wmde-markdown li ul,
.wmde-markdown li ol {
    margin-top: 0.25rem;
}

.wmde-markdown {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.wmde-markdown pre,
.wmde-markdown code {
    background-color: rgba(0, 0, 0, 0.644) !important;
    color: #ffffff;
}

/* ------------------------------------------------------ */
/* Profile                                               */
/* ------------------------------------------------------ */
@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes float-delayed {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
    animation: float-delayed 8s ease-in-out infinite 2s;
}